	/*
  	Flaticon icon font: Flaticon
  	Creation date: 19/08/2017 18:50
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("Flaticon.eot");
  src: url("Flaticon-.eot#iefix") format("embedded-opentype"),
       url("Flaticon.woff") format("woff"),
       url("Flaticon.ttf") format("truetype"),
       url("Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 0;
}

.flaticon-add-contact:before { content: "\f100"; }
.flaticon-add-a-contact-on-phone-interface-symbol-of-a-user-with-a-plus-sign:before { content: "\f101"; }
.flaticon-like:before { content: "\f102"; }
.flaticon-finger-of-a-hand-pointing-to-right-direction:before { content: "\f103"; }
.flaticon-thumb-up:before { content: "\f104"; }
.flaticon-facebook-like-hand-symbol-outline:before { content: "\f105"; }
.flaticon-favorite:before { content: "\f106"; }
.flaticon-star-button:before { content: "\f107"; }
.flaticon-smile-1:before { content: "\f108"; }
.flaticon-smile:before { content: "\f109"; }
.flaticon-happy:before { content: "\f10a"; }
.flaticon-emoticon-with-happy-face:before { content: "\f10b"; }
.flaticon-multimedia-1:before { content: "\f10c"; }
.flaticon-arrows:before { content: "\f10d"; }
.flaticon-music:before { content: "\f10e"; }
.flaticon-multimedia:before { content: "\f10f"; }
.flaticon-play-button:before { content: "\f110"; }
.flaticon-symbol-3:before { content: "\f111"; }
.flaticon-symbol-2:before { content: "\f112"; }
.flaticon-cut:before { content: "\f113"; }
.flaticon-symbol-1:before { content: "\f114"; }
.flaticon-symbol:before { content: "\f115"; }
.flaticon-patient-2:before { content: "\f116"; }
.flaticon-patient-1:before { content: "\f117"; }
.flaticon-patient:before { content: "\f118"; }
.flaticon-flashlight:before { content: "\f119"; }
.flaticon-light-bulb-1:before { content: "\f11a"; }
.flaticon-light-bulb:before { content: "\f11b"; }
.flaticon-contact:before { content: "\f11c"; }
.flaticon-couple-users-silhouette:before { content: "\f11d"; }
.flaticon-people-silhouettes:before { content: "\f11e"; }
.flaticon-user:before { content: "\f11f"; }
.flaticon-shape:before { content: "\f120"; }
.flaticon-tool-3:before { content: "\f121"; }
.flaticon-two:before { content: "\f122"; }
.flaticon-tool-2:before { content: "\f123"; }
.flaticon-tool-1:before { content: "\f124"; }
.flaticon-user-filled-person-shape:before { content: "\f125"; }
.flaticon-telephone-1:before { content: "\f126"; }
.flaticon-telephone:before { content: "\f127"; }
.flaticon-push-button:before { content: "\f128"; }
.flaticon-hands:before { content: "\f129"; }
.flaticon-documents:before { content: "\f12a"; }
.flaticon-circle:before { content: "\f12b"; }
.flaticon-weapons:before { content: "\f12c"; }
.flaticon-tool:before { content: "\f12d"; }
.flaticon-homepage:before { content: "\f12e"; }
.flaticon-interface:before { content: "\f12f"; }