<div class="slider-area slider-layout-4 slider-overlay mt-243">
    <div class="bend niceties preview-1">
        <div id="ensign-nivoslider-3" class="slides">

            {{#each data.sliders }}
            {{#dataValues}}
            <img src="images/slider/{{cover_image}}" alt="slider" title="#slider-direction-1" />
            {{/dataValues}}
            {{/each}}

        </div>

        {{#each data.sliders }}
        {{#dataValues}}
        <div id="slider-direction-1" class="t-cn slider-direction">
            <div class="slider-content s-tb slide-1">
                <div class="title-container s-tb-c title-textPrimary">
                    <div class="mid-title mid-title-slide">{{title}}</div>
                    <div class="slider-btn-area">
                        <a href="{{link_url}}" class="btn-fill-primary">{{link_name}}</a>
                    </div>
                </div>
            </div>
        </div>
        {{/dataValues}}
        {{/each}}

    </div>
</div>
{{!-- jargon --}}
<div class="search-layout1 bg-accent">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h2 id="home_tagline" class="title-bold-light size-xs mb-none">Find experienced lawyers near you</h2>
            </div>
        </div>
    </div>
</div>
{{!-- welcoming --}}
<section class="section-space-top50 bg-box">
    <div class="container">
        <div class="row">
            <div class="text-center d-md-flex align-items-md-center">
                <div class="col-lg-6 col-md-12 col-sm-12">
                    <div class="about-padding">
                        <div class="section-title-inner-dark">
                            <h2><span>Divorce</span> and Family Law</h2>
                            <span><i class="fa fa-circle-o" aria-hidden="true"></i></span>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                exercitation ullamco laborisnisi.</p>
                        </div>
                        <p class="text-dark mb-40">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                            nostrud. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
                            mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem
                            accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae! omnis iste natus
                            error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae!
                        </p>
                        <a href="#" class="btn-fill-primary2">more about us</a>
                    </div>
                </div>
                <div class="img-d-inline-block text-center col-lg-6 col-md-12 col-sm-12">
                    <img src="img/about/about4.png" class="img-responsive mt-20 m-auto" alt="about">
                </div>
            </div>
        </div>
    </div>
</section>
{{!-- practice area --}}
<div id="service" class="section-space bg-body">
    <div class="container">
        <div class="section-title-dark">
            <h2><span>OUR</span> PRACTICE AREAS</h2>
            <span><i class="fa fa-circle-o" aria-hidden="true"></i></span>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laborisnisi.</p>
        </div>
    </div>
    <div class="container">
        <div class="row">

            {{#each data.practice }}
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="practice-box-layout3 bg-box item-mb">
                    <div class="item-img">
                        <img src="img/practice/practice3.jpg" alt="pic practice1" class="img-responsive">
                        <a href="#" title=""><i class="flaticon-tool"></i></a>
                    </div>
                    <div class="item-content">
                        <h3 class="title-medium-dark size-sm"><a href="#">ALABAMA DIVORCE</a></h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adip the isicing elit, sed do eiusmod tempor
                            incididunt ut labore et dolore magna.</p>
                    </div>
                </div>
            </div>
            {{/each}}

        </div>
        <div class="text-center mt-30">
            <a href="#" class="btn-fill-primary2">MORE PRACTICE AREA</a>
        </div>
    </div>
</div>

{{!-- process layout --}}
<div class="process-content bg-common overlay-default text-center"
    style="background-image: url('img/banner/process1.jpg');">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h2>{{data.proccess.title}}</h2>
                <p>{{data.proccess.subTitle}}</p>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row no-gutters full-width">
        <div class="col-lg-2 col-md-4 col-sm-6 col-xs-6 col-mb-12">
            <div class="process-list-box bg-accent">
                <span>01</span>
                <h3>Vision</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adip the isicing elit, sed do eiusmod tempor incididunt ut
                    labore et dolore magna.</p>
            </div>
        </div>
        <div class="col-lg-2 col-md-4 col-sm-6 col-xs-6 col-mb-12">
            <div class="process-list-box secondary-bg-accent">
                <span>02</span>
                <h3>Clarify</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adip the isicing elit, sed do eiusmod tempor incididunt ut
                    labore et dolore magna.</p>
            </div>
        </div>
        <div class="col-lg-2 col-md-4 col-sm-6 col-xs-6 col-mb-12">
            <div class="process-list-box bg-accent-c">
                <span>03</span>
                <h3>Focus</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adip the isicing elit, sed do eiusmod tempor incididunt ut
                    labore et dolore magna.</p>
            </div>
        </div>
        <div class="col-lg-2 col-md-4 col-sm-6 col-xs-6 col-mb-12">
            <div class="process-list-box secondary-bg-accent-c">
                <span>04</span>
                <h3>Implement</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adip the isicing elit, sed do eiusmod tempor incididunt ut
                    labore et dolore magna.</p>
            </div>
        </div>
        <div class="col-lg-2 col-md-4 col-sm-6 col-xs-6 col-mb-12">
            <div class="process-list-box bg-accent">
                <span>05</span>
                <h3>Impact</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adip the isicing elit, sed do eiusmod tempor incididunt ut
                    labore et dolore magna.</p>
            </div>
        </div>
        <div class="col-lg-2 col-md-4 col-sm-6 col-xs-6 col-mb-12">
            <div class="process-list-box secondary-bg-accent">
                <span>06</span>
                <h3>Action</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adip the isicing elit, sed do eiusmod tempor incididunt ut
                    labore et dolore magna.</p>
            </div>
        </div>
    </div>
</div>


<div class="s-space-brand bg-box">
    <div class="container">
        <div class="law-carousel nav-control-middle3" data-loop="true" data-items="{{data.brands_count}}" data-margin="30"
            data-autoplay="true" data-autoplay-timeout="5000" data-smart-speed="2000" data-dots="false" data-nav="false"
            data-nav-speed="false" data-r-x-small="2" data-r-x-small-nav="false" data-r-x-small-dots="false"
            data-r-x-medium="3" data-r-x-medium-nav="false" data-r-x-medium-dots="false" data-r-small="4"
            data-r-small-nav="false" data-r-small-dots="false" data-r-medium="6" data-r-medium-nav="false"
            data-r-medium-dots="false">

            {{#each data.brands }}
            {{#dataValues}}
            <div class="brand-box">
                <a href="#"><img src="images/logo/{{image}}" alt="brand"></a>
            </div>
            {{/dataValues}}
            {{/each}}
        </div>
    </div>
</div>