<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>ok | Home 4</title>
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Favicon -->
<link rel="shortcut icon" type="image/x-icon" href="img/favicon.png">
<!-- Normalize CSS -->
<link rel="stylesheet" href="css/normalize.css">
<!-- Main CSS -->
<link rel="stylesheet" href="css/main.css">
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="css/bootstrap.min.css">
<!-- Animate CSS -->
<link rel="stylesheet" href="css/animate.min.css">
<!-- Font-awesome CSS-->
<link rel="stylesheet" href="css/font-awesome.min.css">
<!-- Flaticon CSS-->
<link rel="stylesheet" href="css/font/flaticon.css">
<!-- Owl Caousel CSS -->
<link rel="stylesheet" href="vendor/OwlCarousel/owl.carousel.min.css">
<link rel="stylesheet" href="vendor/OwlCarousel/owl.theme.default.min.css">
<!-- Main Menu CSS -->
<link rel="stylesheet" href="css/meanmenu.min.css">
<!-- nivo slider CSS -->
<link rel="stylesheet" href="vendor/slider/css/nivo-slider.css" type="text/css" />
<link rel="stylesheet" href="vendor/slider/css/preview.css" type="text/css" media="screen" />
<!-- Datetime Picker Style CSS -->
<link rel="stylesheet" href="css/jquery.datetimepicker.css">
<!-- Magic popup CSS -->
<link rel="stylesheet" href="css/magnific-popup.css">
<!-- Switch Style CSS -->
<link rel="stylesheet" href="css/hover-min.css">
<!-- Select2 CSS -->
<link rel="stylesheet" href="css/select2.min.css">
<!-- Custom CSS -->
<link rel="stylesheet" href="style.css">
<!-- Modernizr Js -->
<script src="js/modernizr-2.8.3.min.js"></script>