<!doctype html>
<html class="no-js" lang="">

<head>
    {{> includes/header}}

    {{> includes/custom.css}}
</head>

<body>
    <div id="preloader"></div>

    <div id="wrapper" class="wrapper">
        
        {{> modules/header}}

        {{{body}}}

        {{> modules/footer}}

    </div>

    {{> includes/footer}}
</body>

</html>