<footer>
    <div class="footer-area-top bg-accent">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="footer-box">
                        <h3 class="title-bar-footer">get in touch</h3>
                        <ul class="corporate-address">
                            <li>
                                <i class="fa fa-phone" aria-hidden="true"></i>
                                <p>Phone: +6789-875-2235</p>
                                <p>Fax: +2390-875-2235</p>
                            </li>
                            <li>
                                <i class="fa fa-envelope-o" aria-hidden="true"></i>
                                <p>support@tectas.com</p>
                                <p>AbcLawFirm.@domain.com</p>
                            </li>
                            <li>
                                <i class="fa fa-map-marker" aria-hidden="true"></i>
                                <p>202 New Hampshire Avenue</p>
                                <p>Northwest #100, New York-2573</p>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="footer-box">
                        <h3 class="title-bar-footer">useful link</h3>
                        <ul class="useful-links">
                            <li>
                                <ul>
                                    <li><a href="#">About Us</a></li>
                                    <li><a href="#">Family &amp; Divorce law</a></li>
                                    <li><a href="#">Property Law</a></li>
                                    <li><a href="#">Finance &amp; Security Law</a></li>
                                    <li><a href="#">Criminal Defense Law</a></li>
                                    <li><a href="#">Serious Car Crash</a></li>
                                    <li><a href="#">njury Attorneys</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="footer-box">
                        <h3 class="title-bar-footer">RECENT POSTS</h3>
                        <div class="footer-popular-post">
                            <div class="media">
                                <a href="#" class="pull-left">
                                    <img alt="Popular" src="img/footer/7.jpg" class="img-responsive">
                                </a>
                                <div class="media-body">
                                    <a href="#">Pellentesque velit mauris, cursus id eros sed thdgy.</a>
                                    <p>Dec 23, 2016</p>
                                </div>
                            </div>
                            <div class="media">
                                <a href="#" class="pull-left">
                                    <img alt="Popular" src="img/footer/8.jpg" class="img-responsive">
                                </a>
                                <div class="media-body">
                                    <a href="#">Pellentesque velit mauris, cursus id eros sed thdgy.</a>
                                    <p>Dec 23, 2016</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="footer-box">
                        <h3 class="title-bar-footer">flickr gallery</h3>
                        <ul class="post-gallery shine-hover">
                            <li>
                                <a
                                    href="../../../../index-password-protected=login&amp;redirect_to=https---abctechweb.net-envato-templates-lawfirm-one-page-gallery-style1.html">
                                    <figure><img src="img/footer/1.jpg" alt="post" class="img-responsive"></figure>
                                </a>
                            </li>
                            <li>
                                <a
                                    href="../../../../index-password-protected=login&amp;redirect_to=https---abctechweb.net-envato-templates-lawfirm-one-page-gallery-style2.html">
                                    <figure><img src="img/footer/2.jpg" alt="post" class="img-responsive"></figure>
                                </a>
                            </li>
                            <li>
                                <a
                                    href="../../../../index-password-protected=login&amp;redirect_to=https---abctechweb.net-envato-templates-lawfirm-one-page-gallery-style1.html">
                                    <figure><img src="img/footer/3.jpg" alt="post" class="img-responsive"></figure>
                                </a>
                            </li>
                            <li>
                                <a
                                    href="../../../../index-password-protected=login&amp;redirect_to=https---abctechweb.net-envato-templates-lawfirm-one-page-gallery-style2.html">
                                    <figure><img src="img/footer/4.jpg" alt="post" class="img-responsive"></figure>
                                </a>
                            </li>
                            <li>
                                <a
                                    href="../../../../index-password-protected=login&amp;redirect_to=https---abctechweb.net-envato-templates-lawfirm-one-page-gallery-style1.html">
                                    <figure><img src="img/footer/5.jpg" alt="post" class="img-responsive"></figure>
                                </a>
                            </li>
                            <li>
                                <a
                                    href="../../../../index-password-protected=login&amp;redirect_to=https---abctechweb.net-envato-templates-lawfirm-one-page-gallery-style2.html">
                                    <figure><img src="img/footer/6.jpg" alt="post" class="img-responsive"></figure>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-area-bottom">
        <div class="container">
            <p>@2017 AbcLawFirm. All rights reserved. Designed by <a href="#">ABCtechweb</a>
            </p>
        </div>
    </div>
</footer>