    <header class="header" id="home">
        <div id="header-three" class="header-style-two header-fixed">
            <div class="header-top-bar">
                <div class="header-top-bar-top bg-primary">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-8 col-md-12 col-sm-12 hidden--xs">
                                <div class="header-contact-info-two">
                                    <ul>
                                        <li><i class="fa fa-clock-o" aria-hidden="true"></i>open hours:<span> mon-fri
                                                9.00am-5.00pm</span></li>
                                        <li><i class="fa fa-location-arrow" aria-hidden="true"></i>22 main street
                                            pt.London England</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-4 hidden--md">
                                <div class="header-social">
                                    <ul>
                                        <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                        <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                        <li><a href="#"><i class="fa fa-google" aria-hidden="true"></i></a></li>
                                        <li><a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
                                        <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="header-top-bar-bottom bg-body">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-4 col-md-4">
                                <div class="media call-area">
                                    <i class="fa fa-phone pull-left" aria-hidden="true"></i>
                                    <div class="media-body">
                                        <p>Call now</p>
                                        <div class="call-number">4-657-344-46527</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4">
                                <div class="logo-area">
                                    <a href="index.html"><img src="img/logo.png" alt="logo" class="img-responsive"></a>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4">
                                <div class="header-search-two">
                                    <form id="top-search-form2">
                                        <input type="text" class="search-input" placeholder="Search...." required="">
                                        <a href="#" class="search-button"><i class="fa fa-search"
                                                aria-hidden="true"></i></a>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="main-menu-area bg-body" id="sticker">
                <div class="container">
                    <div class="row d-md-flex align-items-md-center">
                        <div class="col-lg-12 col-md-12">
                            <nav id="dropdown">
                                <ul id="navOnePage">
                                    <li><a href="#home">Home</a>
                                        <ul class="rt-dropdown-menu">
                                            <li class="active"><a href="index.html">Law Agency</a></li>
                                            <li><a href="index2.html">Injury Attorneys</a></li>
                                            <li><a href="index3.html">Traffic Ticket Attorneys</a></li>
                                            <li><a href="index4.html">Legacy &amp; Wealth Planning</a></li>
                                            <li><a href="index5.html">Criminal Defense</a></li>
                                            <li><a href="index6.html">Construction &amp; Insurance</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="#about">About</a></li>
                                    <li><a href="#service">Service</a></li>
                                    <li><a href="#team">Team</a></li>
                                    <li><a href="#client">Client</a></li>
                                    <li><a href="#appointment">Appointment</a></li>
                                    <li><a href="#news">News</a></li>
                                    <li><a href="#contact">Contact</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>